<ion-header>
	<ion-navbar>
		<button clear small color="light" ion-button class="setting-nav" (click)="finder()">
     <ion-icon name="ios-pin-outline"></ion-icon>
   </button>
   <div class="brand">
     <!-- <ion-title>Home</ion-title> -->
     <img src="assets/img/logo_chili.png" alt="">
   </div>
   <button clear small color="light" ion-button class="upload-nav" (click)="up_product()">
    <ion-icon name="ios-add-circle-outline"></ion-icon>
  </button>
 </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="lists.empty == 1 || lists == 0" class="empty_data">
    <div>
      <h4>Aún no tienes anuncios favoritos</h4>
      <p>Te invitamos a que elijas tus anuncios favoritos para que los tengas a la mano!</p>
    </div>
  </div>

  <ion-list class="lst-products" *ngIf="lists.empty != 1">
    <ion-card *ngFor="let item of lists ; let i = index">
      <ion-item>
        <ion-avatar item-start (click)="this.helpersProvider.viewProfile(this.navCtrl,item.user_id)">
          <img *ngIf="item.avt != null && item.avt.indexOf('graph.facebook.com')==-1" src="{{base_url + item.avt}}">
          <img *ngIf="item.avt != null && item.avt.indexOf('graph.facebook.com')!=-1" src="{{item.avt}}">
          <img *ngIf="item.avt == null" src="assets/avt.png">

        </ion-avatar>
        <h2><b (click)="this.helpersProvider.viewProfile(this.navCtrl,item.user_id)">{{item.user_name}}</b> publicado {{item.created_at}}</h2>
        <div class="more">
          <button [ngClass]="{'active' : (item.report == true)}" ion-button icon-left clear (click)="report(item.id, i)">
            <ion-icon name="ios-flag-outline"></ion-icon>
          </button>
        </div>
      </ion-item>
      <img src="{{base_url + item.image_path}}" (click)="this.productProvider.view(this.navCtrl,item)" />
      <ion-card-content (click)="this.productProvider.view(this.navCtrl,item)">
        <ion-card-title>{{item.title}}</ion-card-title>
        <div class="local">
          <ion-icon name="md-locate"></ion-icon>
          {{item.county_name + ' - ' + item.cities_name}}
        </div>
        <p class="price">price: {{item.price}}</p>
        <p>{{item.content.slice(0,107) + '...'}}</p>
      </ion-card-content>
      <ion-row>
        <ion-col col-3>
         <button ion-button icon-left clear (click)="mail(item)">
          <ion-icon name="ios-mail"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-3>
        <button ion-button icon-left clear (click)="this.helpersProvider.call(item.phone)">
          <ion-icon name="ios-call" ></ion-icon>
        </button>
      </ion-col>
      
      <ion-col col-3>
        <button [ngClass]="{'active' : (item.favorites == true)}" ion-button icon-left clear (click)="favorites(item.product_id, i)">
          <ion-icon name="ios-heart" ></ion-icon>
        </button>
      </ion-col>

      <ion-col col-3>
        <button ion-button icon-left clear (click)="this.productProvider.share(item)">
          <ion-icon name="md-share" ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-list>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>